<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="Modal devise login" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= form_for(resource, :as => resource_name, 
        											 :url => session_path(resource_name),
        											 :html => {:id => "sign_in_form"},
        											 :format => :json,
        											 :remote => true) do |f| %>

        	<div id="login_errors_div"></div>

					<div><%= f.label :email %><br />
						<%= f.email_field :email, :autofocus => true %>
					</div>
					<div><%= f.label :password %><br />
						<%= f.password_field :password %>
					</div>
					<% if devise_mapping.rememberable? -%>
						<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
					<% end -%>
					<%= f.submit "Sign in", :class => 'btn btn-small btn-success' %>
				<% end %>
				<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
      </div>
      <div class="modal-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>